.barra {
    --background: linear-gradient(90deg, rgba(140,213,215,1) 0%, rgba(13,115,119,1) 100%);
}

.search-bar-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Alinea verticalmente */ /* Espacio alrededor del contenedor de búsqueda */
    max-width: 99%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .custom-card {
    width: 90%;  /* Ajusta el ancho de la tarjeta */
    max-width: 500px; /* Establece un ancho máximo */
    margin-bottom: 20px; /* Espacio entre tarjetas */
  }
  
  ion-card-header {
    padding: 10px 20px; /* Espacio interno para el encabezado */
  }
  
  ion-card-content {
    padding: 10px 20px;
    
  }

  .custom-card ion-card-header, .custom-card ion-card-content {
    padding-left: 8px;  /* Reduce el relleno izquierdo para mover el texto hacia la izquierda */
  }

  ion-content-divider {
    --padding-start: 0px;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas si hay muchos */
    /* Espacio opcional por encima de los botones para mejorar el diseño */
    margin-bottom: 1.5rem;
  }

  .botonagenda {
    --background: #027f99;
    text-transform: capitalize;
  }

  .imagen_carga {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;

  }

  ion-select {
    --border-radius: 3px;
    --boder-color: black;
    margin-left: auto;
    margin-right: auto;
    --placeholder-opacity: 1 !important;
  }
