<!-- Agregar el menú -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="barra">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="goHome()">
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item button (click)="goEditar()">
        <ion-icon slot="start" name="pencil"></ion-icon>
        <ion-label>Editar Tus Datos</ion-label>
      </ion-item>
      <ion-item button (click)="goHistorial()">
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>Mi historial</ion-label>
      </ion-item>
      <ion-item button (click)="goSoporte()">
        <ion-icon slot="start" name="construct"></ion-icon>
        <ion-label>Soporte</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>Cerra Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar class="barra">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <h1 class="texto-home">Mi Historial</h1>
    <ion-card style="margin-left: 5%; margin-right: 5%; border-top: 4px solid #00BFA6">
      <ion-list *ngIf="!showHistorialCitasEmptyMessage">
          <ion-grid *ngFor="let cita of historialCitas" class="cita-item">
            <ion-row>
              <ion-col size="10">
                <p><strong>Fecha: </strong>{{ cita.fecha }}</p>
                <p><strong>Hora: </strong>{{ cita.hora }}</p>
                <p><strong>Psicologo: </strong>{{ cita.nombre_psicologo }}</p>
              </ion-col>
              <ion-col size="2" class="icon-col">
                <ion-icon style="font-size: 50px;" name="document-outline" (click)="generarPDF(cita)"></ion-icon>
                <ion-text style="text-align: center; color: rgb(145, 145, 145);" (click)="generarPDF(cita)">Informe</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-list>
    </ion-card>
    <ion-card class="center-content" *ngIf="showHistorialCitasEmptyMessage">
      <ion-text>No hay citas en el historial.</ion-text>
    </ion-card>
  </ion-content>
</div>