<!-- Agregar el menú -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="barra">
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item (click)="goHome()">
        <ion-icon slot="start" name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item button (click)="goEditar()">
        <ion-icon slot="start" name="pencil"></ion-icon>
        <ion-label>Editar Tus Datos</ion-label>
      </ion-item>
      <ion-item button (click)="goHistorial()">
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>Mi historial</ion-label>
      </ion-item>
      <ion-item button (click)="goSoporte()">
        <ion-icon slot="start" name="construct"></ion-icon>
        <ion-label>Soporte</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>Cerra Sesión</ion-label>
      </ion-item>
      <ion-item button (click)="goChat()">
        <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
        <ion-label>Chatea con tus Psicologos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar class="barra">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <h1 class="texto-home">PsicoAgenda</h1>
    <h2 class="subtexto">¡Bienvenid&#64; {{ nombre }}!</h2>
    <ion-button (click)="buscar()" expand="block">Reserva una hora</ion-button>
    <ion-card *ngIf="!vacio" class="citasencurso">
      <ion-card-header>
        <ion-card-title>Próxima Cita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Fecha: <strong>{{ proximaCita.fecha }}</strong><br />
        Hora: <strong>{{ proximaCita.hora }}</strong><br />
        Psicologo: <strong>{{ proximaCita.nombre_psicologo }}</strong><br />
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="vacio" class="citasencurso">
      <ion-card-header>
        <ion-card-title>Próxima Cita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <strong>No hay proximas citas agendadas</strong>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>