.barra {
    --background: linear-gradient(90deg, rgba(140,213,215,1) 0%, rgba(13,115,119,1) 100%);
}

ion-avatar {
    width: 50px;
    height: 50px;
  }
  
  ion-item {
    --inner-padding-start: 20px;
    --border-color: var(--ion-color-light);
    --border-width: 1px 0 0 0;
  }
  
  .full-divider ion-item {
    --border-width: 0 0 1px 0;
    --border-style: solid;
    --border-color: var(--ion-color-light);
    --padding-start: 0;
  }
  
  ion-label h2 {
    font-size: 1em;
    font-weight: bold;
  }
  
  ion-label p {
    color: var(--ion-color-medium);
  }
  
  ion-img {
    margin-left: 17px;
  }